
div#nmetal{
    background-color: #a6ff00;
}

div#malcalino{
    background-color: #ffae00;
}

div#malcter{
    background-color: #ffea00;
}

div#mtransicao{
    background-color: #ffc6c6;
}

div#smetal{
    background-color: #00ffe5;
}

div#ometal{
    background-color: #92b3be;
}

div#halogen{
    background-color: #70caeb;
}

div#gnobre{
    background-color: #53ffe8;
}

div#lant{
    background-color: #90E3E9;
}

div#actini{
    background-color: #ff88ef;
}
.nmetal{
    background-color: #a6ff00;
}

.malcalino{
    background-color: #ffae00;
}

.malcter{
    background-color: #ffea00;
}

.mtransicao{
    background-color: #ffc6c6;
}

.smetal{
    background-color: #00ffe5;
}

.ometal{
    background-color: #92b3be;
}

.halogen{
    background-color: #70caeb;
}

.gnobre{
    background-color: #53ffe8;
}

.lant{
      background-color: #90E3E9;
}

.actini{
    background-color: #ff88ef;
}