
:host {
  

    .mat-mdc-form-field {
      font-size: 14px;
      width: 100%;
    }
  
    .mat-mdc-header-cell {
      font-size: 14px;
      color: var(--black-010);
    }
  .flags{
    width: 75px;
    
    display: flex;
    justify-content: space-between;
  }
  .right-top{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 0 15px 0;
  }
  
  }