:host {

    .element-details {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        max-width: 600px;
        margin: 5px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .element-details h1 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #333;
    }

    .element-info {
        display: grid;
    }

    span {
        color: #666;
    }

    div .border-all {
        border: 2px solid #333333;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        width: 80px;
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    div .border-all:hover {
        background-color: #dbdbdb;
    }

    div .element-small {
        font-size: 12px;
        font-weight: bold;
        color: #333333;
        display: flex;

    }

    div .element-big {
        font-size: 40px;
        font-weight: bold;
        color: #333333;
        display: flex;
        justify-content: center;
    }

    span {
        font-size: 12px;
        font-weight: bold;
        color: #333333;
        text-align: right;
    }

    div .element-bottom {
        display: flex;
        justify-content: right;
        font-size: 15px;
        font-weight: bold;
    }

    button {
        display: grid;
        background-color: orangered;
        color: #ffffff;
        border: 0;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        height: 30px;
        font-size: 16px;
        font-weight: 500;

        &:hover {
            background-color: #ff7f50;
        }
    }

    section {
        display: grid;
    }
}