<section class="container-router">
  @defer(on viewport){
  <ul ngbNav #nav="ngbNav" class="nav-pills topmenu">
    <li ngbNavItem>
      <button ngbNavLink routerLink="">Tabela</button>
      <ng-template ngbNavContent>Tabela Periódica</ng-template>
    </li>
    <li ngbNavItem>
      <button ngbNavLink routerLink="/elementos">Pesquisar</button>
      <ng-template ngbNavContent>Pesquisar Elementos</ng-template>
    </li>
  </ul>
  
  <div [ngbNavOutlet]="nav" class="titulo"></div>
  <p></p>
  <p></p>
  <p></p>
  <router-outlet />
}@placeholder {<h2>Carregando o aplicativo...</h2>}@error{<h2>Ocorreu um erro ao carregar o aplicativo.</h2>}
</section>