:root{
    --primary: #2fbf71;
    --primary-010: #175a37;

    --secondary: #0d6efd;
    --secondary-010: #062d3f;

    --white: #fff;

    --black: #10101a;
    --black-010: #3d3d44;

    --grey: #9b9ba0;
}